@media print {
  footer,
  #nd-nav {
    display: none !important;
  }
  #nd-home-layout{
    padding-top: 0 !important;
  }
  #me{
    grid-template-columns: repeat(3, 1fr) !important;
  }
  body{
    background-color: #fff;
  }
}
